@model Microsoft.AspNetCore.Identity.IdentityUser

<div class="container text-center">
    <h1>User Details</h1>

    <div class="mt-5">
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                User Name
            </dt>
            <dd class="col-sm-9">
                @Model.UserName
            </dd>
            <dt class="col-sm-3">
                Email
            </dt>
            <dd class="col-sm-9">
                @Model.Email
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<style>
    body {
        background-color: #ecfeff;
    }
</style>