@model Microsoft.AspNetCore.Identity.IdentityUser

<div class="container text-center">
    <h1>User details</h1>

    <div class=" mt-5">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                User name
            </dt>
            <dd class="col-sm-10">
                @Model.UserName
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </div>
</div>

