@model EditUserModel


<form asp-action="Edit" class="needs-validation" novalidate>
    <input type="hidden" asp-for="Id" />

    <div class="container mt-5 ">
        <div class="row">
            <h1>Edit User Info</h1>

            <div class="col-md-6 mb-3">
                <label asp-for="UserName" class="control-label">User name</label>
                <input asp-for="UserName" class="form-control" required />
                <div class="invalid-feedback">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" required />
                <div class="invalid-feedback">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary ml-2">Back</a>
        </div>
    </div>
 
</form>
<style>
    body {
        background-color: #ecfeff;
    }
</style>